.btn-circle{
	cursor: pointer;
	border-radius : 50%;
}

.img-center{
	margin-left: auto;
	margin-right: auto
}

.center-content{
	margin-left: auto;
	margin-right: auto
}

.right{
	float: right;
}

.left{
	float: left;
}

@media (min-width: 992px){
	.h-elemt{
		height: 190px		
	}	
}

.form-top{
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left{
	float: left;
	width: 75%;
	padding-top: 25px;	
}

.form-top-right{
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom{
	padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.btn-sign-in{
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #4aaf51;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
	width: 100%;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #4aaf51;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: capitalize;
}

.btn-link-1.btn-link-1-facebook {
    background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
    background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
    background: #dd4b39;
}

.social-login {
    margin-top: 35px;
}

@media (min-width: 768px){
.col-sm-offset-3 {
    margin-left: 25%;
}